@import url('https://fonts.googleapis.com/css?family=Lato');
html, body {
    height: 100%;
}

@font-face {
    font-family: "Bebas Neue"; /* Bebas Neue font */
    src: url("../fonts/BebasNeue-Regular.ttf");
}