@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Rozha+One');
@import url('https://fonts.googleapis.com/css?family=Raleway|Rozha+One');

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue-Regular.ttf");
}

body {
    width: 100%;
    height: auto;
    color: #ffffff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 100% 100%;
}

h1 {
    font-family: 'Bebas Neue', serif;
    text-align: center;
    position: relative;
    color: #ffffff;
}

h3 {
    color: #ffdf7e;
}

i {
    color: #ffffff;
}

p {
    font-size: 14px;
    font-family: 'Open Sans', serif;
    text-align: center;
    position: relative;
    color: #ffffff;
}

span {
    margin-left: 12px;
    font-family: 'Open Sans', serif;
    color: #ffffff;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-about {
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-portfolio {
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    font-size: 14px;
    text-align: right;
    font-family: 'Open Sans', serif;
    color: #ffffff;
}

.resume {
    font-size: 14px;
    text-align: left;
    font-family: 'Open Sans', serif;
    color: #ffffff;
}

@media only screen and (max-width: 770px) {
    .about {
        font-size: 14px;
        text-align: center;
        font-family: 'Open Sans', serif;
        color: #ffffff;
    }

    .resume {
        font-size: 14px;
        text-align: center;
        font-family: 'Open Sans', serif;
        color: #ffffff;
    }

    hr {
        margin-left: 47%;
    }
}