@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue-Regular.ttf");
}

body {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 620%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

hr {
    width: 30px;
}

h1 {
    font-family: 'Bebas Neue', serif;
    text-align: center;
    position: relative;
    color: #ffffff;
}

h3 {
    color: #ffdf7e;
}

i {
    color: #ffffff;
}

p {
    font-size: 14px;
    font-family: 'Open Sans', serif;
    text-align: center;
    position: relative;
    color: #ffffff;
}

span {
    margin-left: 12px;
    font-family: 'Open Sans', serif;
    color: #ffffff;
}

.section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-about {
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    font-size: 14px;
    text-align: right;
    font-family: 'Open Sans', serif;
    color: #ffffff;
}

.resume {
    font-size: 14px;
    text-align: left;
    font-family: 'Open Sans', serif;
    color: #ffffff;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}